<!DOCTYPE html>
<!-- 
  2 Whites & a Gray: Nada Hameed, Gitae Park, Brianna Tieu
  Softdev
  K12 -- Take and Give
  2022-10-18
-->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
      2 Whites & a Gray: Nada Hameed, Gitae Park, Brianna Tieu
    </h1>


    <h3>
      Welcome, {{user}}
    </h3>

    <br>

    <h4>
       The method used here is {{method}}!
    </h4>

    <br>

    <p>
       From our understanding, a 'GET' method uses request.args while a 'POST' method uses request.form!
    </p>
  </body>

</html>
