
body {
    "font-family: arial;
    background-color:#666666 "
}

h1{
    "margin: 0px;
    padding: 5px; 
    background-color:#bebebe; 
    color:white; 
    text-align: center;"
}

#columns{
    "background-color:#767676;
    column-count: 2; 
    display: flex;"
}

#navbar{
    "padding: 10px;
    column-width: 1200px;"
}

h3{
    "color:black"
}

ul{
    "list-style: none;
    padding-left:0; color: white;"
}

h2{
    "color:black"
}

p{
    "color:black"
}

#copyright{
    background-color:#565656;
    color:#757472; 
    text-align: right; 
    padding: 8px;"
}